body{
    background: linear-gradient(90deg, white, #808080) ;
}
#w1{
    text-align: center;
    font-size: 100px;
    font-family: Trebuchet MS, sans-serif;
}
#w1:hover{
    text-align: center;
    font-size: 100px;
    font-family: Trebuchet MS, sans-serif;
    color: #2F4F4F;
}
.d1{
    text-align: center;
    font-size: 30px;
    margin-right: 300px;
    margin-left: 300px;
    font-family: Apple Chancery, cursive;
}
.d2{
    width: 270px;
    margin: auto;
    font-size: 30px;
    font-family: Apple Chancery, cursive;
}
#diamond-shield {
    margin: auto;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom: 20px solid black;
    position: relative;
    top: -50px;
    animation-name: s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  @keyframes s{
      0% {
        top: -50px;
      }
      50% {
        top: 30px;
      }
      100%{
        top: -50px;
      }
  }
  #diamond-shield:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 20px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 70px solid black;
  }
  li:hover{
    font-weight: bolder;
  }
  td {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    padding: 50px;
    font-size: 25px;
    background-color: black;
    border-radius: 10%;
  }
  td:hover{
      background-color: gray;
      border-color: gray;
  }
  .d3{
    margin-left: 800px;
    margin-top: 170px;
    font-size: 30px;
    font-family: Apple Chancery, cursive;
  }
  .d4{
    border-color: black;
    border-style: solid;
    margin-right: 1725px;
    padding: 50px;
    font-size: 25px;
    background-color: black;
    border-radius: 10%;
  }
  .d4:hover{
    background-color: gray;
    border-color: gray;
  }
  .d5{
    border-color: grey;
    border-style: solid;
    border-width: 5px;
    padding: 100px;
    font-size: 30px;
  }
  a:hover{
    text-decoration: none;
    color: black;
  }
  a:link{
    text-decoration: none;
    color: white;
  }
  a:visited{
    text-decoration: none;
    color: white;
  }
  a:active{
    text-decoration: none;
    color: black;
  }